<div class="page-content">
  <div id="page-wrapper" class="sign-in-wrapper">
    <div class="graphs">
      <div class="sign-up">
        <h1>Create an account</h1>
        <p class="creating">{{ quote }}</p>
        <h2>Personal Information</h2>

        <form [formGroup]="registerForm" (ngSubmit)="Signup()">
          <app-alert></app-alert>
          
          <div class="sign-u">
            <div class="sign-up1">
              <h4>Email Address* :</h4>
            </div>
            <div class="sign-up2">
              <input
                type="text"
                placeholder="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submited && formValues['email'].errors
                }"
              />
              <div
                *ngIf="submited && formValues['email'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValues['email'].errors.required">
                  Email is required
                </div>
                <div *ngIf="formValues['email'].errors.email">
                  Email must be a valid email address
                </div>
                <div *ngIf="formValues['email'].errors.emailTaken">
                  Email address taken
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sign-u">
            <div class="sign-up1">
              <h4>Username* :</h4>
            </div>
            <div class="sign-up2">
              <input
                type="text"
                placeholder="username"
                required=" "
                formControlName="username"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submited && formValues['username'].errors
                }"
              />
              <div
                *ngIf="submited && formValues['username'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValues['username'].errors.required">
                  Username is Required
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sign-u">
            <div class="sign-up1">
              <h4>Phone* :</h4>
            </div>
            <div class="sign-up2">
              <input
                type="text"
                placeholder="phone "
                required=" "
                formControlName="phone"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submited && formValues['phone'].errors
                }"
              />
              <div
                *ngIf="submited && formValues['phone'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValues['phone'].errors.required">
                  Phone is Required
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sign-u">
            <div class="sign-up1">
              <h4>Password* :</h4>
            </div>
            <div class="sign-up2">
              <input
                type="password"
                placeholder="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submited && formValues['password'].errors
                }"
              />
              <div
                *ngIf="submited && formValues['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValues['password'].errors.required">
                  Password is required
                </div>
                <div *ngIf="formValues['password'].errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sign-u">
            <div class="sign-up1">
              <h4>Confirm Password* :</h4>
            </div>
            <div class="sign-up2">
              <input
                type="password"
                placeholder="confirmPassword"
                formControlName="confirmPassword"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submited && formValues['confirmPassword'].errors
                }"
              />
              <div
                *ngIf="submited && formValues['confirmPassword'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formValues['confirmPassword'].errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="formValues['confirmPassword'].errors.mustMatch">
                  Passwords must match
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="sub_home">
            <div class="sub_home_left">
              <input type="submit" value="Create" />
            </div>
            <div class="loading-right">
              <img
                *ngIf="showSpinner"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
            </div>
            <div class="sub_home_right">
              <p>Go Back to <a routerLink="/login">Login</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
